<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <!-- <i class="bx bxl-f-plus-plus"></i> -->
        <span class="logo_name">Admin Management</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        
    
        <li class="log_out">
          <a href="/admin">
            <i class="bx bx-log-out"></i>
            <span class="links_name"><a href="/feedback">Logout</a></span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
          <form class="form" action="/filter" method="POST"> <!-- Change the action URL -->
            <label for="cars">FILTER</label>
            <select name="category" id="cars">
              <option value="" disabled selected>Select Filter Type</option>
                <option value="product">Product</option>
                <option value="services">Services</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        </div>
      </nav>

      <div class="home-content">
        <div class="overview-boxes">
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Feedbacks</div>
            <div class="sales-details">
                <table>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Feedback</th>
                        <th>Satisfaction</th>
                        <th>Product</th>
                        <th>Service/Product Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in user_details %}
                      <tr>
                        <td>{{ user[0] }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
